// Fonts

@font-face {
  font-family: "TildaSans VF";
  src: url("/fonts/TildaSans-VF.ttf") format("truetype");
  font-weight: normal;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "Gropled";
  src: url("/fonts/Gropled-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Variables
$primary-color: #ffffff;
$secondary-color: #131312;
$accent-color: #1f8b48;
$background-color: #f6f6f6;

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TildaSans VF", sans-serif;
  color: $secondary-color;
  background-color: $background-color;
  background-image: url("/svg/background_line.svg");
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

// Header
.header {
  background: $primary-color;
  max-width: 1160px;
  width: 100%;
  border-radius: 24px;
  margin: 8px 0;

  @media (max-width: 960px) {
    max-width: calc(100% - 20px);
  }

  @media (max-width: 640px) {
    border-radius: 0;
    margin: 0;
    background: transparent;
  }
}

// Navigation
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  @media (max-width: 960px) {
    padding: 16px;
  }

  @media (max-width: 640px) {
    padding: 16px 0;
  }

  &-links {
    display: flex;
    list-style: none;
    gap: 16px;

    a {
      text-decoration: none;
      color: $secondary-color;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 25px;
      transition: all 0.5s;

      &:hover {
        background: $accent-color;
        color: $primary-color;
        cursor: pointer;
      }
    }

    @media (max-width: 960px) {
      gap: 4px;

      a,
      a:hover {
        padding: 8px;
        font-size: 15px;
      }
    }

    @media (max-width: 640px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &-toggle {
    display: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background: $accent-color;
    border-radius: 50px;
    padding: 9px;

    @media (max-width: 640px) {
      display: block;
    }
  }
}

// Main Section
.main-section {
  .container {
    max-width: 1160px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 960px) {
      max-width: calc(100% - 20px);
    }

    .main-content {
      height: 481px;

      @media (max-width: 960px) {
        height: 353px;
      }

      @media (max-width: 480px) {
        height: 197px;
      }
    }

    .info-content {
      position: absolute;
      top: 64px;
      left: 64px;

      @media (max-width: 960px) {
        top: 48px;
        left: 48px;
      }

      @media (max-width: 640px) {
        top: 24px;
        left: 24px;
      }

      @media (max-width: 480px) {
        top: 32px;
        left: 32px;
      }

      h1 {
        font-size: 64px;
        margin-bottom: 10px;
        color: $primary-color;
        font-family: "Gropled", sans-serif;
        font-weight: 700;
        line-height: 0.9;

        padding-top: 22px;

        @media (max-width: 960px) {
          font-size: 32px;
        }

        @media (max-width: 480px) {
          max-width: 171px;
        }

        @media (max-width: 320px) {
          display: none;
        }
      }

      p {
        font-size: 21px;
        margin-bottom: 32px;
        color: $primary-color;
        line-height: 1.4;

        @media (max-width: 960px) {
          font-size: 18px;
        }

        @media (max-width: 480px) {
          display: none;
        }
      }
    }

    .main-video {
      border-radius: 24px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .main-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 64px;
      width: 100%;
      padding: 0 64px;
      color: $primary-color;
      gap: 16px;

      @media (max-width: 960px) {
        bottom: 32px;
        padding: 0 32px;
      }

      @media (max-width: 480px) {
        position: static;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        align-items: flex-start;
      }
    }

    .try-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      font-size: 18px;
      background-color: $accent-color;
      color: $primary-color;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      max-width: 327px;
      width: 100%;
      height: 52px;

      p {
        font-family: "Gropled", sans-serif;
        line-height: 1.1;
        padding-top: 16px;
      }

      &:hover {
        background-color: darken($accent-color, 10%);
      }

      @media (max-width: 960px) {
        max-width: 302px;
        font-size: 16px;
      }

      @media (max-width: 480px) {
        max-width: 100%;
        justify-content: center;
      }
    }

    .certificate-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      text-align: end;
      line-height: 1.5;
      font-size: 16px;
      display: block;

      @media (max-width: 640px) {
        font-size: 12px;
        max-width: 182px;
      }

      @media (max-width: 480px) {
        display: none;
      }
    }

    .mobile-text-content {
      display: none;

      @media (max-width: 480px) {
        display: block;
        margin: 24px 0;

        p {
          font-size: 18px;
          line-height: 1.2;
        }
      }

      @media (max-width: 320px) {
        margin: 0 0 24px 0;
      }
    }

    .mobile-certificate-content {
      display: none;

      @media (max-width: 480px) {
        display: block;
        font-size: 12px;
        color: $secondary-color;
        opacity: 0.5;
      }

      @media (max-width: 320px) {
        text-align: center;
      }
    }

    .mobile-title-content {
      display: none;

      @media (max-width: 320px) {
        display: block;
        font-size: 32px;
        font-family: "Gropled", sans-serif;
        font-weight: bold;
        line-height: 1;
        padding-top: 24px;
      }
    }
  }
}

// Feedback Section

.feedback-section {
  max-width: 1160px;
  background-color: $accent-color;
  border-radius: 24px;
  margin: 96px auto;
  color: $primary-color;

  @media (max-width: 960px) {
    width: calc(100% - 20px);
  }

  @media (max-width: 480px) {
    margin: 270px auto;
  }

  @media (max-width: 320px) {
    margin: 420px auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 64px;
  }

  .main-title {
    font-family: "Gropled", sans-serif;
    line-height: 0.95;
    font-size: 40px;
    padding-top: 16px;

    @media (max-width: 960px) {
      font-size: 28px;
    }

    @media (max-width: 480px) {
    }
  }

  .features-list {
    list-style: none;

    @media (max-width: 960px) {
      max-width: 380px;
    }
  }

  .features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: 500;
    gap: 8px;

    @media (max-width: 960px) {
      font-size: 18px;
    }
  }

  .left-section {
    flex: 1;
    max-width: 450px;

    @media (max-width: 960px) {
      max-width: 416px;
    }

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }

  .right-section {
    flex: 1;
    max-width: 450px;
    width: 100%;
  }

  .form-group {
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;

    @media (max-width: 640px) {
      flex-direction: row;
    }
  }

  .form-input {
    max-width: 450px;
    width: 100%;
    padding: 12px 20px;
    height: auto;
    border: none;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    font-family: "TildaSans VF", sans-serif;
    font-size: 16px;

    @media (max-width: 768px) {
      padding: 10px 16px;
      font-size: 15px;
    }

    @media (max-width: 480px) {
      padding: 8px 12px;
      font-size: 14px;
    }
  }

  .form-input:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
  }

  .checkbox-group {
    display: flex;
    gap: 11px;
    margin-bottom: 16px;
    align-items: flex-end;
  }

  .checkbox {
    appearance: none;
    max-width: 18px;
    width: 100%;
    height: 18px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }

  label {
    font-size: 12px;
  }

  .checkbox:checked::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px;
    border: solid $primary-color;
    border-width: 0 0 2px 2px;
    transform: translate(25%, 0) rotate(-45deg);
  }

  .submit-btn {
    background: white;
    border: none;
    padding: 0 16px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 52px;
    max-width: 192px;
    width: 100%;

    p {
      font-family: "Gropled", sans-serif;
      line-height: 1.1;
      padding-top: 16px;
    }

    @media (max-width: 960px) {
      max-width: 181px;
      font-size: 16px;
    }

    @media (max-width: 320px) {
      max-width: 100%;
      justify-content: space-between;
      padding: 0 24px;
    }
  }

  .submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 30px;
      padding: 30px 20px;
    }

    .right-section {
      max-width: 100%;
    }
  }
}
